<% if(error != "") { %>
<div id="message-container" class="error box-shadow">
  <label for=""><%= error %></label>
</div>
<% } %>

<!--  -->
<!--  -->

<% if(success != "") { %>
<div id="message-container" class="success box-shadow">
  <label for=""><%= success %></label>
</div>
<% } %>
