<div id="load-bar">
  <div id="load-bar-inner"></div>
</div>
<!-- SYSTEM CARDS -->
<div id="system-cards" class="container">
  <div id="level">
    <div>
      <h5>Level</h5>
    </div>
    <div>
      <h5 id="level-count"></h5>
    </div>
  </div>
  <div id="on-call">
    <div>
      <h5>On Call</h5>
    </div>
    <div>
      <h5 id="on-call-count"></h5>
    </div>
  </div>
  <div id="posting">
    <div>
      <h5>Posting</h5>
    </div>
    <div>
      <h5 id="posting-count"></h5>
    </div>
  </div>
  <div id="driving">
    <div>
      <h5>Driving</h5>
    </div>
    <div>
      <h5 id="driving-count"></h5>
    </div>
  </div>
  <div id="fueling">
    <div>
      <h5>Fueling</h5>
    </div>
    <div>
      <h5 id="fueling-count"></h5>
    </div>
  </div>
  <div id="eos">
    <div>
      <h5>EOS</h5>
    </div>
    <div>
      <h5 id="eos-count"></h5>
    </div>
  </div>
  <div id="late-call">
    <div>
      <h5>Late Call</h5>
    </div>
    <div>
      <h5 id="late-call-count"></h5>
    </div>
  </div>
  <div id="past-eos">
    <div>
      <h5>Past EOS</h5>
    </div>
    <div>
      <h5 id="past-eos-count"></h5>
    </div>
  </div>
</div>

<!-- WORKLOAD BAR CHART -->
<div id="workload-bar-chart-container" class="container">
  <canvas id="workload-bar-chart"></canvas>
</div>

<!-- WORKLOAD TABLE -->
<div id="workload-tables" class="container">
  <div id="legend" class="container">
    <label style="color: lightblue;">2 Hours (EOS)</label>
    <label style="color: lightgreen;">1 Hour (EOS)</label>
    <label style="color: red;">Past EOS</label>
  </div>
  <!-- ABOVE MAX -->
  <h5>Above Max ( <span id="total-above-max"></span> Units )</h5>
  <table id="above-max">
    <thead>
      <th>Unit</th>
      <th>Workload</th>
      <th>Threshold</th>
      <th>Ratio</th>
      <th>Arrivals</th>
      <th>Task Time</th>
      <th>Post Time</th>
      <th>Post Moves</th>
      <th>Drive Time</th>
      <th>On Call Time</th>
      <th>Last Post</th>
      <th>Status</th>
    </thead>
    <tbody id="above-max-tbody"></tbody>
  </table>
  <!-- ABOVE CURRENT -->
  <h5>Above Current ( <span id="total-above-current"></span> Units )</h5>
  <table id="above-current">
    <thead>
      <th>Unit</th>
      <th>Workload</th>
      <th>Threshold</th>
      <th>Ratio</th>
      <th>Arrivals</th>
      <th>Task Time</th>
      <th>Post Time</th>
      <th>Post Moves</th>
      <th>Drive Time</th>
      <th>On Call Time</th>
      <th>Last Post</th>
      <th>Status</th>
    </thead>
    <tbody id="above-current-tbody"></tbody>
  </table>
  <!-- OTHER -->
  <h5>Other ( <span id="total-other"></span> Units )</h5>
  <table id="other">
    <thead>
      <th>Unit</th>
      <th>Workload</th>
      <th>Threshold</th>
      <th>Ratio</th>
      <th>Arrivals</th>
      <th>Task Time</th>
      <th>Post Time</th>
      <th>Post Moves</th>
      <th>Drive Time</th>
      <th>On Call Time</th>
      <th>Last Post</th>
      <th>Status</th>
    </thead>
    <tbody id="other-tbody"></tbody>
  </table>
</div>

<!-- CREW LIST -->
<div id="crew-list" class="container">
  <h5>Crew List (<span id="total-crews"></span> Total)</h5>
  <table>
    <thead>
      <th>Unit</th>
      <th>Crew Member One</th>
      <th>Crew Member Two</th>
    </thead>
    <tbody id="crew-list-tbody"></tbody>
  </table>
</div>

<!-- SYSTEM REPORT -->
<div id="system-report" class="container">
  <h5>System Report (<span id="status"></span>)</h5>
  <div id="top-system-report">
    <label>Total Calls: <span id="total-calls"></span></label>
    <label>Total Units: <span id="total-units"></span></label>
    <label>Total Post Time: <span id="total-post-time"></span></label>
    <label>Total Drive Time: <span id="total-drive-time"></span></label>
    <label>Total On Call Time: <span id="total-on-call-time"></span></label>
    <label>Total Late Calls: <span id="total-late-calls"></span></label>
    <label>Total Past EOS: <span id="total-past-eos"></span></label>
    <label
      >Total Time Level Zero: <span id="total-time-level-zero"></span
    ></label>
  </div>
  <div>
    <ul id="system-log"></ul>
  </div>
</div>
