<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-123410747-6"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-123410747-6");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>EMSA Unit Workload</title>
  </head>
  <body>
    <main>
      <!-- HEADER -->
      <%- include ("header.ejs") %>

      <!-- MAIN BODY -->
      <%- body %>

      <!-- FOOTER -->
      <%- include ("footer.ejs") %>
    </main>

    <!-- SCRIPTS -->
    <script src="js/Chart.bundle.js"></script>
    <script type="module" src="/js/index.js"></script>
    <script type="module" src="/js/geo.js"></script>
  </body>
</html>
