
#workload-bar-chart-container {
  display: none;
}

#system-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 0.5em;
  padding-top: 3em;

  & > div {
    background: var(--primary);
    padding: 0.5em 0;

    div:nth-child(2) {
      margin-top: 0.5em;
    }
  }
}

#workload-tables {
  #legend {
    display: flex;
    justify-content: space-around;
  }

  #above-max {
    th {
      background-color: red;
    }
  }

  #above-current {
    th {
      background-color: yellow;
      color: black;
    }
  }
}

#system-report {
  position: relative;

  h5 {
    text-decoration: underline;
  }

  div:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;

    h1 {
      font-size: 4rem;
    }
  }

  ul {
    border: solid 1px white;
    max-height: 500px;
    padding: 1em 2em;
    overflow-x: auto;
  }

  #system-report-graphs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;

    &>div {
      display: grid !important;
      height: 500px;
    }
  }
}

.snapShot {
  width: auto;
  background: var(--primary);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);

  display: grid;
  grid-gap: 1em;
  padding: 1em;
}
