#workload-bar-chart-container {
  display: none;
}

#system-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 0.5em;
  padding-top: 3em;
}

#system-cards > div {
  background: var(--primary);
  padding: 0.5em 0;
}

#system-cards > div div:nth-child(2) {
  margin-top: 0.5em;
}

#workload-tables #legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#workload-tables #above-max th {
  background-color: red;
}

#workload-tables #above-current th {
  background-color: yellow;
  color: black;
}

#workload-tables > div > div {
  padding: 1em;
}

#system-report {
  position: relative;
}

#system-report h5 {
  text-decoration: underline;
}

#system-report div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 1em;
}

#system-report div:nth-child(1) h1 {
  font-size: 4rem;
}

#system-report ul {
  border-radius: 5px;
  max-height: 500px;
  padding: 1em 2em;
  overflow-x: auto;
}

#system-report #system-report-graphs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

#system-report #system-report-graphs > div {
  display: -ms-grid !important;
  display: grid !important;
  height: 500px;
}

.snapShot {
  width: auto;
  background: var(--primary);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
          box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
}

.workload-table-popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(1, 1, 1, 0.5);
  top: 0;
  left: 0;
  z-index: 4000;
}

.workload-table-popup-container .workload-table-popup {
  background-color: #010141;
  margin: auto;
  width: 90%;
  padding: 1em;
  border-radius: 5px;
}

.workload-table-popup-container .workload-table-popup table {
  margin-top: 1em;
}

.view-button,
.exit-popup {
  background-color: #007acc;
  color: white;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
          box-shadow: 0 0 10px rgba(1, 1, 1, 0.25);
  padding: 0.25em 0.5em;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.view-button:hover,
.exit-popup:hover {
  opacity: 0.5;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
/*# sourceMappingURL=index.css.map */